@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */


body{
	font-family: 'Roboto', sans-serif;
	background-color: lightgrey;
	font-weight: 700;
}

#container{
	width: 90%;
	margin-left: 5%;
	margin-right: ; 5%;
	display: flex;
	justify-content: flex-start;
	flex-flow: column; 
}

#nav{
	display: flex; 
	flex-flow: column;
    justify-content: space-between;
	background: grey;	
}

div[id="nav"]{
	background-color: grey;
 	padding: 10px 0px 10px 0px;
}

div[id="nav"]>a{
	text-decoration: none;
	background-color: grey;
	font-weight: 400;
	color: #FFFFFF;
}

div[id="nav"]>p{
	background-color: #FFFFFF;
 	margin: 10px 0px 10px 0px;
 	height: 2px;
}

div[id="nav"]>a:hover{
	font-size: 30px;
	background-color: lightgrey;
	color: #000000;
}